.bg__blue{
    background-color: $blue !important;
    color: $white !important;
}

.bg__red{
    background-color: $red !important;
    color: $white !important;
}

.bg-transparent{
    background-color:transparent !important;
}

.bg__gray{
    background-color:$gray !important;
    color: $primary !important;
}

.bg__primary{
    background-color: $primary !important;
    color: $white !important;
}