.text-regular{
    font-family: 'Montserrat-regular';
}

.text-bold{
    font-family: 'Montserrat-bold';
}

.text-extra-bold-italic{
    font-family: 'Montserrat-extra-bold-italic';
}

.text-color-white{
    color: $white !important;
}

.text-color-primary{
    color: $primary !important;
}

.text-color-secondary{
    color: $secondary !important;
}

.text-color-blue{
    color: $blue !important;
}
.text-color-red{
    color: $red !important;
}

.text-color-gray{
    color: $gray !important;
}

.text-section-title{
    font-size: 30px !important;
}
