.v-container {
    padding: 0 30px 0 30px !important;
    @media screen and (min-width:1920px) {
        padding: 0 !important;
        width: 1300px !important;
    }

    @media screen and (max-width:1366px) {
        padding: 0 50px 0 50px !important;
    }

    @media screen and (max-width:1279px) {
        padding: 0 10px 0 10px !important;
    }
}

.v-carousel--hide-delimiter-background .v-carousel__controls {
    color: white;
}

.v-btn{
    text-transform: capitalize !important;
    border-radius: 10px !important;
}

.v-field{
    border-radius: 10px !important;
}
